.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination button {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }